@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.statistics__info {
    margin-bottom: 30px;
}

.statistics__info_wrap {
    margin: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statistics__info_item {
    margin: 5px;
    width: 260px;
    display: flex;
    justify-content: space-between;

    @include box-style;
    padding: 25px 30px;
    font-size: 2rem;
}

.info_stats {
    text-align: center;
}

.info_title {
    font-weight: 500;
    font-size: 1.4rem;
    color: $textGray;
    text-transform: capitalize;
}

.info_content {
    margin: 12px 0;
    font-weight: 600;
    font-size: 2.2rem;
    color: $textViolet;
    text-transform: capitalize;
}

.info_prefix {
    font-weight: 500;
    font-size: 1.4rem;
    color: $textGray;
    text-transform: capitalize;
}
