@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.team_tournament_result {
    @include box-style;
    text-align: center;
    white-space: nowrap;
}

.team_tournament_result__content {
    @include box-style;

    font-size: 1.7rem;
    color: $gray3;
    background-color: $whiteBG;

    & span {
        display: block;
        margin-bottom: 13px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.team_tournament_result__title {
    margin-bottom: 20px;
    font-size: 2rem;
}
