@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/colors.scss";

.stats_info__tournament {
    @include box-style;

    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    text-align: center;
}

.stats_info__item {
    @include box-style;
    padding: 10px;
    background-color: $whiteBG;
}

.stats_name {
    margin-bottom: 7.5px;
    font-size: 1.4rem;
    color: $gray3;
}

.stats_value {
    font-size: 2rem;
}
