@import "../../../../../../styles/colors.scss";

.player_tournaments {
    padding-top: 30px;
}

.player_tournaments__title {
    margin-left: 32px;
    font-size: 3rem;
    color: $gray3;
    text-transform: capitalize;
}

.player_tournament_item__wrap {
    & .player_tournament_item {
        margin-bottom: 50px;
        padding-left: 32px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
