@import "../../../../../styles/colors.scss";

.table_role {
    display: flex;
    justify-content: space-around;
}

.table_role__icon {
    width: 24px;
    height: 24px;
    overflow: hidden;

    & svg {
        width: inherit;
        height: inherit;
    }
}
