@import "../../../../../styles/colors.scss";

.team_places__table {
    font-size: 1.4rem;
    color: $textGray;
    text-align: center;
    white-space: nowrap;

    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;

    & thead {
        border-bottom: 1px solid $gray2;
        background-color: $whiteBG;

        & tr {
            & th {
                padding: 20px 0;
                font-size: 1.4rem;
                font-weight: 500;
                text-transform: capitalize;

                &:first-of-type,
                &:last-of-type {
                    padding: 20px 40px;
                }

                &:last-of-type {
                    width: 195px;
                }
            }
        }
    }

    & tbody {
        & tr {
            border-bottom: 1px solid $gray2;

            &:nth-child(1) {
                background-color: #ffdd5f;
            }
            &:nth-child(2) {
                background-color: #dddddd;
            }
            &:nth-child(3) {
                background-color: #eeae6e;
            }

            &:last-of-type {
                border: none;
            }

            & td {
                height: 65px;
                overflow: hidden;
                padding: 20px 0;

                &:first-of-type,
                &:last-of-type {
                    padding: 20px 40px;
                }
            }
        }
    }
}
