@import "../../../../styles/colors.scss";

.error {
    width: 100%;
    max-width: 650px;
    margin: 50px auto 0 auto;
    padding: 15px;

    font-size: 3.5rem;
    line-height: 1.7;
    text-align: center;

    border: 1px solid $primary;
    border-radius: 15px;
}
