@import "../../../../../styles/colors.scss";

.tournament_number__select_field__control {
    font-family: "Comfortaa", cursive !important;
    font-size: 2rem !important;
    font-weight: 400 !important;

    cursor: pointer !important;
    padding: 0.3rem 1.3rem !important;
    border-radius: 50px !important;
    border: 1px solid $primary !important;

    &--is-focused {
        box-shadow: 0 0 5px $primary !important;
    }
}

.tournament_number__select_field__single-value {
    color: $secondary !important;
}

.tournament_number__select_field__indicator {
    padding: 0 !important;
    margin: 8px !important;

    &:hover {
        color: $quaternary !important;
    }
}

.tournament_number__select_field__dropdown-indicator * {
    cursor: pointer !important;
}

.tournament_number__select_field__menu {
    font-family: "Comfortaa", cursive !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    color: $secondary !important;

    padding: 10px 0 !important;
    box-shadow: 0 0 2px #000 !important;
    border: 1px solid $primary !important;
    border-radius: 15px !important;
}

.tournament_number__select_field__menu-list {
    &::-webkit-scrollbar {
        width: 5px !important;
        background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $tertiary !important;
        border-radius: 10px !important;
    }

    &::-webkit-scrollbar-button {
        background-color: transparent !important;
    }
}

.tournament_number__select_field__option {
    padding: 5px 20px !important;
    text-transform: capitalize !important;
    cursor: pointer !important;

    &--is-selected {
        color: $primary !important;
        background: $tertiary !important;
    }
    &--is-focused {
        color: $primary !important;
        background: rgba($color: $tertiary, $alpha: 0.9) !important;
    }
}

.tournament_number__select_field__option--is-focused.tournament_number__select_field__option--is-selected {
    background: $tertiary !important;
}
