.global_statistics__info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & .statistics__info_item {
        margin-right: 20px;
        margin-bottom: 30px;
        font-size: 3rem;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }
    }

    & .info_title {
        margin-top: 10px;
        padding-top: 10px;

        font-size: 4rem;
        text-transform: capitalize;
        border-top: 1px solid #fff;
    }
}

.statistics__info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & .statistics__info_item {
        margin-right: 20px;
        margin-bottom: 30px;
        font-size: 2rem;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }
    }

    & .info_title {
        margin-top: 10px;
        padding-top: 10px;

        font-size: 2rem;
        text-transform: capitalize;
        border-top: 1px solid #fff;
    }
}
