@import "../../../../../../../../styles/colors.scss";
@import "../../../../../../../../styles/mixins.scss";
@import "../../../../../../../../styles/theme.scss";
@import "../../../../../../../../styles/functions.scss";

.action__action_btn {
    margin: 0 auto;
    width: fit-content;
    position: relative;

    & button {
        margin: 0 auto;

        @media (max-width: 600px) {
            padding: 6px;
        }
    }

    & .action__action_icon {
        width: 24px;
        height: 24px;

        & svg {
            width: inherit;
            height: inherit;

            & path {
                transition: stroke 0.15s ease-in-out;
            }
        }

        @media (max-width: 720px) {
            width: 17px;
            height: 17px;
        }

        @media (max-width: 600px) {
            width: 15px;
            height: 15px;
        }

        @media (max-width: 415px) {
            width: 14px;
            height: 14px;
        }
    }

    .action__action_btn_active {
        background-color: $secondaryBG;
        border-color: $gray1;

        & .action__action_icon {
            & svg * {
                stroke: $gray3;
            }
        }
    }

    .action__action_btn__info {
        @include box-style;
        padding: 7.5px;

        color: getColor(textGray);
        font-size: 1.2rem;
        text-transform: capitalize;
        border-radius: 3px;

        position: absolute;
        top: 50%;
        left: 120%;

        transform: translateY(-50%);
    }

    @media (max-width: 720px) {
        margin: 0;
    }

    @media (max-width: 415px) {
        margin: 0 auto;
    }
}
