.navigate_info {
    font-size: inherit;
}

.navigate_info__resource {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    & a {
        width: 24px;
        height: 24px;

        & svg {
            width: inherit;
            height: inherit;
        }
    }
}

.navigate_info__ver {
    display: flex;
    justify-content: space-around;
}
