$bagePositive: #279f51;
$bageNotPositive: #ff392b;
$bageNotZero: #ff8901;
$bageError: #7f8b9c;

$violet: #451f58;
$gray1: #7f8b9c;
$gray2: #e2e8f0;
$gray3: #475569;

$textWhite: #e2e8f0;
$textViolet: #200f2c;
$textGray: #64748b;

$tank: #6d6a6d;
$dps: #cf3c3c;
$support: #fdd46a;

$whiteBG: #f1f5f9;
$navBG: #200f2c;
