@import "./colors.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    display: block;
    color: $primary;
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    width: 100%;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    outline: none;
    color: $secondary;
}
