@import "./colors.scss";
@import "./theme.scss";
@import "./mixins.scss";
@import "./functions.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 500;
}

a {
    display: block;
    color: getColor(textGray);
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: block;
    padding: 0.8rem;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: $textWhite;
    text-transform: capitalize;
    cursor: pointer;

    background-color: getColor(btn);
    border: 1px solid getColor(btn);
    border-radius: 5px;
    @include box-style-shadow;

    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

    &:hover {
        background-color: rgba($color: getColor(btnHover-rgb), $alpha: 0.9);
        border-color: rgba($color: getColor(btnHover-rgb), $alpha: 0.9);
    }
}
