@import "./default.scss";
@import "./colors.scss";

html {
    font-size: 10px;
    line-height: 1;
}

body {
    margin: 0;
    background: $whiteBG;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: $textViolet;
    cursor: default;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
}

.app_page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteiner {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 30px;
}
