@import "./colors.scss";
@import "./theme.scss";
@import "./functions.scss";

@mixin box-style-shadow {
    box-shadow: 0px 1px 8px rgba(getColor(gray1-rgb), 0.5);
}

@mixin box-style {
    @include box-style-shadow;
    padding: 30px;
    background-color: getColor(secondaryBG);
    border-radius: 10px;
}
