@import "../../../../../../styles/colors.scss";

.player_stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -5px;
}

.player_stats__group_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player_stats__item {
    padding: 5px;
}
