@import "../../../../../../../styles/colors.scss";
@import "../../../../../../../styles/mixins.scss";

.action__action_btn {
    position: relative;

    & button {
        margin: 0 auto;

        &:hover + .action__action_btn__info {
            opacity: 1;
        }

        &:first-of-type {
            margin-bottom: 10px;
        }
    }

    & .action__action_icon {
        width: 24px;
        height: 24px;

        & svg {
            width: inherit;
            height: inherit;

            & path {
                transition: stroke 0.15s ease-in-out;
            }
        }
    }

    .action__action_btn_active {
        background-color: #fff;
        border-color: $gray1;

        & .action__action_icon {
            & svg * {
                stroke: $gray3;
            }
        }
    }

    .action__action_btn__info {
        @include box-style;
        padding: 7.5px;

        color: $gray3;
        font-size: 1.2rem;
        text-transform: capitalize;
        border-radius: 3px;
        opacity: 0;

        transition: opacity 0.15s ease-in-out;

        position: absolute;
        top: 50%;
        left: 90%;

        transform: translateY(-50%);
    }
}
