@import "../../../../../../styles/colors.scss";

.tournament__team_name {
    margin-left: 30px;
    margin-bottom: 30px;

    & span {
        font-size: 3rem;
    }

    & .name {
        margin-left: 20px;
        font-size: 4.5rem;
    }
}

.tournament_wrap {
    width: 100%;
    display: flex;
}

.tournament_number {
    width: 80px;
    padding-top: 35px;
    margin-right: 10px;
    font-size: 6rem;
}

.tournament_team__table_result_matches {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    padding: 15px;
    margin-bottom: 50px;

    background-color: $tertiary;
    border-radius: 15px;
}
