@import "../../../../../../../../styles/colors.scss";
@import "../../../../../../../../styles/functions.scss";
@import "../../../../../../../../styles/theme.scss";

.player_chart {
    padding: 5px;
}

.player_chart__title {
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: getColor(gray3);
    text-align: center;
    text-transform: capitalize;

    @media (max-width: 510px) {
        margin-bottom: 5px;
        font-size: 1.5rem;
    }
}

.player_chart__item {
    margin: 0 auto;
    width: 150px;
    height: 150px;

    @media (max-width: 510px) {
        width: 130px;
        height: 130px;
    }
}
