@import "../../../../../../../styles/colors.scss";

.new_role_player {
    display: flex;
    flex-direction: column;
    align-items: center;

    & svg {
        width: 25px;
        height: inherit;
    }
}

.icon__not_check {
    fill: #ad1919;
}

.icon__check {
    fill: $tertiary;
}
