@import "../../../../../../../styles/colors.scss";

.new_role_player {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new_role__icon {
    width: 24px;
    height: 24px;

    & svg {
        width: inherit;
        height: inherit;
    }
}
