@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mixins.scss";

.player_info {
    font-size: 1.6rem;
    @include box-style;
}

.player_info__wrap {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray2;
}

.player_nickname {
    margin-bottom: 5px;
    font-weight: 600;
}

.player_twitch {
    font-size: 1.4rem;

    a {
        display: inline;
        position: relative;
        transition: all 0.2s ease-in-out;

        &::before {
            content: "";
            width: 100%;
            max-width: 0%;
            height: 1px;
            background-color: #cfd4db;
            transition: all 0.2s ease-in-out;

            position: absolute;
            bottom: -1px;
            left: 0;
        }

        &:hover {
            color: rgba($color: $textViolet, $alpha: 0.85);

            &::before {
                max-width: 100%;
            }
        }
    }
}

.player_btag {
    font-size: 1.4rem;
    margin-bottom: 7.5px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
