@import "../../../../../styles/colors.scss";

.title_search {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px auto;
}

.title_search__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -10px;
}

.title_search__select {
    margin: 10px;
    width: 100%;
    max-width: 220px;
}

.title_search__title {
    width: 100%;
    max-width: 350px;
    margin: 10px;

    font-size: 3.5rem;
    color: $gray3;
    white-space: nowrap;
}
