@import "../../../../../styles/colors.scss";

.link {
    a {
        display: inline;
        position: relative;
        transition: all 0.2s ease-in-out;

        &::before {
            content: "";
            width: 100%;
            max-width: 0%;
            height: 1px;
            background-color: rgba($color: $textGray, $alpha: 0.5);
            transition: all 0.2s ease-in-out;

            position: absolute;
            bottom: -1px;
            left: 0;
        }

        &:hover {
            color: $textViolet;

            &::before {
                max-width: 100%;
            }
        }
    }
}

.link__cap_link__wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & svg {
        fill: $textViolet;
    }
}

.link__cap_link {
    display: flex;
    align-items: center;
}

.link__cap_icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;

    & svg {
        width: inherit;
        height: inherit;
    }
}

.link__current {
    color: $textViolet;
}
