@import "../../../../styles/colors.scss";

.header {
    margin-bottom: 30px;
    background-color: #fff;
    border-bottom: 1px solid $gray2;
}

.header_title {
    padding: 15px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: $gray3;
    text-transform: capitalize;
}
