@import "../../../../../../../styles/colors.scss";
@import "../../../../../../../styles/mixins.scss";

.role_lastrate__title {
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: $gray3;
    text-align: center;
    text-transform: capitalize;
}

.role_lastrate__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.role_lastrate_role__wrap {
    padding: 2.5px;
    width: 100%;
    max-width: 160px;
}

.role_lastrate__tank,
.role_lastrate__dps,
.role_lastrate__support {
    @include box-style;

    display: flex;
    align-items: center;
    background-color: $whiteBG;
    padding: 10px;
}

.role_lastrate__role_title {
    font-size: 1.3rem;
    color: $textGray;
    text-transform: capitalize;
}

.role_lastrate__rate {
    width: 75px;
    margin: 0 auto;

    font-size: 1.2rem;
    text-align: center;
    white-space: pre-wrap;
}
