@import "../../../../../../../styles/colors.scss";

.team_tournament_table {
    font-size: 1.4rem;
    color: $textGray;
    text-align: center;
    white-space: nowrap;

    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;

    & thead {
        border-bottom: 1px solid $gray2;
        background-color: $whiteBG;

        & tr {
            & th {
                padding: 20px 5px;
                font-size: 1.4rem;
                font-weight: 500;
                text-transform: capitalize;

                &:first-of-type,
                &:last-of-type {
                    padding: 20px;
                }
            }
        }
    }

    & tbody {
        & tr {
            border-bottom: 1px solid $gray2;

            & td {
                height: 65px;
                overflow: hidden;
                padding: 20px 5px;

                &:first-of-type,
                &:last-of-type {
                    padding: 20px;
                }

                &:nth-child(2) {
                    width: 90px;
                }

                &:nth-child(3) {
                    width: 140px;
                }

                &:nth-child(4) {
                    width: 120px;
                }
            }

            &:last-of-type {
                border: none;
            }
        }
    }
}
